<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Most Appearing Words</title>
        <script src='static/Chart.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    </head>

    <body>
        <center>
            <h2>Most Appearing Words</h2>
            <div style="width:700px;height=500px">
                <canvas id="chart"></canvas>
            </div>
        </center>

        <script>
           var wordChart = document.getElementById("chart");
           var twitterWordChart = new Chart(wordChart, {
                type: 'horizontalBar',
                data: {
                    labels: [{% for item in labels %}
                              "{{item}}",
                             {% endfor %}],
                    datasets: [{
                        label: 'number of count',
                        data: [{% for item in values %}
                                  {{item}},
                                {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
			    'rgba(144, 42, 53, 0.2)',
			    'rgba(153, 64, 100, 0.2)',
			    'rgba(200, 100, 1, 0.2)',
			    'rgba(64, 100, 24, 0.2)',
			    'rgba(63, 23, 100, 0.2)',
			    'rgba(52, 13, 156, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
			    'rgba(131, 100, 23, 1)',
			    'rgba(62, 12, 23, 1)',
			    'rgba(160, 23, 50, 1)',
			    'rgba(190, 23, 3, 1)',
			    'rgba(51, 12, 4, 1)',
			    'rgba(100, 50, 30, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
           });
           var sourceCounts = [];
           var sourceWords = [];
            setInterval(function(){
                $.getJSON('/updateChart', {
                }, function(data) {
                    sourceWords = data.sWords;
                    sourceCounts = data.sCounts;
                });
                twitterWordChart.data.datasets[0].data = sourceCounts;
                twitterWordChart.data.labels = sourceWords;
                twitterWordChart.update();
            },1500);
        </script>


    </body>
</html>
